body {
  position: relative;
  background: linear-gradient(#cfd9df, #e2ebf0);
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  text-align: center;
  & span {
    color: grey;
  }
}

.main-container {
  height: 100vh;
}

.top-margin {
  margin-top: 38vh;
}

.form-container {
  text-align: center;
}

#results {
  list-style: none;
}

#button {
  outline: none;
}

.card {
  width: 375px;
  height: 220px;
  background-color: #d1d1d1;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin: 10px 0px;
}

#chart-swipe, #info-swipe {
  width: 375px;
  height: 220px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin: 20px 0px;
}

.map-container {
  width: 375px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

#map {
  width: 375px;
  height: 190px;
  margin: 0px 20px;
}

.card, #raphael-paper-0, #info-swipe, .map-container, #map {
  border-radius: 10px !important;
  // raphael-paper-0 is being used for the shape of the chart, all i could find on chrome
  // to successfully change the border radius
}

#search {
  outline: none;
}

#chart-container {
  width: 90%;
  text-align: center;
}

.swiper-container {
  text-align: center;
  margin-right: 20px !important;
  margin-left: 20px !important;
}


