.logo {
  text-align: center;
}
.form-container {
  text-align: center;
}

#weather-container {
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#results {
  list-style: none;
}

#card-container {
  list-style: none;
}

#card {
  width: 250px;
  height: 200px;
  background-color: blue;
  color: white;
  text-align: center;
}
