.logo {
  text-align: center;
}
.form-container {
  text-align: center;
}

#results {
  list-style: none;
}

.card {
  width: 375px;
  height: 250px;
  background-color: #d1d1d1;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin: 20px 0px;
}

#chart-swipe, #info-swipe {
  width: 375px;
  height: 250px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin: 20px 0px;
}

#search {
  outline: none;
}

#chart-container {
  width: 90%;
  text-align: center;
}

.swiper-container {
  text-align: center;
  margin-right: 20px !important;
  margin-left: 20px !important;
}
