.paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paragraph {
  width: 50%;
}

.about-title {
  text-align: center;
}

.back-to-home {
  text-align: center;
}

