<div class="about-all">
  <div class="about-title">
    <h3>Build Process</h3>
  </div>
  <div class="paragraphs">
    <div class="paragraph">
     <p><b>Hi! I hope you like the app. Here are some thoughts I had on the build process with some examples of how I worked around certain bugs and problems. </b></p>
    </div>
    <div class="paragraph">
      <p>
        When starting the project, I decided the two most important aspects of the development process were having a solid design to follow, and practising continuous deployment (to Heroku) to make sure the app was fully functional before submitting. Normally before writing any code I enjoy drawing out basic designs by hand, all-be-it rather crudely. Once happy with a basic layout I feel more comfortable continuing with the actual build. As per the challenge’s request, on one HTML page I would have the weather information fetched and inserted into the page with javascript into a mobile swiper. Funnily enough i had actually previously built a weather app using React and Redux, so I did know of the Openweathermap api, (and just how cool it was). However I wanted to create something different for the challenge, and just using basic javascript, no libaries.
      </p>
      <div id="pic-1">
        <p>pic 1s</p>
      </div>
      <div id="pic-2">
        <p>pics 2</p>
      </div>
    </div>

    <div class="paragraph">
      <p>
        I decided to build the app within Rails as it’s a framework I’m comfortable using, and the template I used has a lot of useful preset configurations and addons like webpacker for compiling JS etc. I decided that the most important thing to do first was to fetch and display basic data from the openweathermap forecast api. Th main problem I came across when first using the api was understanding how to create a more global weather app, not region based. The problem is openweathermap recommends that you use city ids to reference a city - however the list of IDs seems to only be available as a local file, (which is over 20mb), prompting me to make my app UK only. This was as simple as stating ${search.value},<b>UK</b> in the fetch request. In picture 3 is the first basic information recieved, and in picture 4 the data has been put into a swiper, along with matching google maps icon, which I later decided to put in a container below the swiper, like in my second design.
      </p>
      <div id="pic-3">
        <p>video 3</p>
      </div>
      <div id="pic-4">
        <p>video 4</p>
      </div>
    </div>

    <div class="paragraph">
      <p>
        one decisiion I had to make was wether to have multiple results on one page, or to clear the results after every search. I decided it would be neater to just have one result per search, so I included a build page function which cleared the inner html of the page before displaying the results again.
      </p>
      <div id="pic-3">
        <p>video 3</p>
      </div>

    </div>

    <div class="back-to-home">
      <p><%= link_to 'go back to app', root_path %></p>
    </div>
  </div>
</div>












