<div class="logo">
  <h1>weather<span>now</span></h1>
</div>

<div class="form-container">
  <input type="text" id="search">
  <button id="button" type="submit" value="Submit">search</button>
  <ul id="results">
    <li></li>
  </ul>
</div>

<div id="card-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide individual-slide slide" id="info-swipe">
      </div>
      <div class="swiper-slide individual-slide slide" id="chart-swipe">
      </div>
      <div class="swiper-slide individual-slide slide" id="map">
      </div>
    </div>
    <div class="swiper-pagination swiper-all-cards"></div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js"></script>


