<div class="main-container">
  <div class="logo-and-form top-margin">
    <div class="logo">
      <h1>weather<span>now</span></h1>
    </div>
    <div class="slogan">
      <p>Search weather across the UK</p>
    </div>
    <div class="form-container">
      <input type="text" id="search" autocomplete="off">
      <button id="button" type="submit" value="Submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
    <div id="main-content" class="hide">
      <div class="card-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide individual-slide slide" id="info-swipe">
            </div>
            <div class="swiper-slide individual-slide slide" id="chart-swipe">
              <div id="chartjs-container" class="card">
                <canvas id="chartjs"></canvas>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-all-cards"></div>
        </div>
      </div>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtBs4neZXzkgzMHAfQbzr73MxxNfXWIDU&libraries=places"></script>


