<div class="logo">
  <h1>WEATHER-ME</h1>
</div>
<div class="city-name">
  <h1>city-name</h1>
</div>
<div class="overall-container">
  <div class="card-container">
    <div class="weather-card">
      <div class="day"></div>
      <div class="temperature"></div>
      <div class="additional-temp-info"></div>
    </div>
    <div class="weather-card">
      <div class="day"></div>
      <div class="temperature"></div>
      <div class="additional-temp-info"></div>
    </div>
    <div class="weather-card">
      <div class="day"></div>
      <div class="temperature"></div>
      <div class="additional-temp-info"></div>
    </div>
    <div class="weather-card">
      <div class="day"></div>
      <div class="temperature"></div>
      <div class="additional-temp-info"></div>
    </div>
    <div class="weather-card">
      <div class="day"></div>
      <div class="temperature"></div>
      <div class="additional-temp-info"></div>
    </div>
  </div>
</div>
